.entryContainer item { background-color: #c1c1c1; display: inline;}
.entryContainer title { display: inline; }
.entryContainer p { display: inline; }

/*.metadata span {
  display: block;
}*/

/*.metadata span .forename {
  display: inline-block;
}

.metadata span .forename {
  display: inline-block;
}*/

/*.item {
  margin-bottom: 10px;
}*/

.metadata {
  margin-top: 10px;
}

.seg {
  font-style: italic;
}

/*.persName { margin-bottom: 10px;}*/

.entryID { font-weight: bold; margin-bottom: 10px;}

.metadataTitle {
  font-weight: bold;
}

.fee {
  /*font-weight: bold;*/
}


.num {
   font-weight: bold;
}

.del {
   text-decoration: line-through;
}

.struckThrough {
  text-decoration: line-through;
}
/* .removeMargin{ */
  /*margin-right: -3px;*/
  /*margin-left: -3px;*/
/* } */

/*.forename {
  margin-right: 3px;
}*/
/* .surname { */
  /* margin-left: 2px; */

/* } */

/* .note { */
  /* margin-left: 3px; */

/* } */

/* .date { */
  /* margin-left: 3px; */

/* } */

/* .hi { */
  /* margin-left: 2px; */

/* } */

/* .seg{ */
  /* margin-left: 3px; */
/* } */
