.entryContainer item { background-color: #c1c1c1; display: inline;}
.entryContainer title { display: inline; }
.entryContainer p { display: inline; }

/*.metadata span {
  display: block;
}*/

/*.metadata span .forename {
  display: inline-block;
}

.metadata span .forename {
  display: inline-block;
}*/

.item {
  margin-bottom: 10px;
}

.seg {
  font-style: italic;
}

.persName { margin-bottom: 10px;}

.entryID { font-weight: bold; margin-bottom: 10px;}

.metadataTitle {
  font-weight: bold;
}

.fee {
  font-weight: bold;
}


.num {
   font-weight: bold;
}
